<h1>Editing <%= @curQSheet[:division_name].to_s + " of " + @curQSheet[:contest_name].to_s + "(round: " + @curQSheet[:round].to_s + ")" %> </h1>

<%= render 'form' %>

<%= link_to 'Show', @qsheet %> |
<%= link_to 'Back', qsheets_path %>
