<h1>Editing Qsheet for <%= @contest.contest_name + " " + @division.division_name + " " + @division.round.to_s %></h1>

<%= render 'form' %>

<%= link_to 'Show', @qsheet %> |
<%= link_to 'Back', qsheets_path %>
