<script>
  document.getElementById("admin-nav").className = "active";
</script>

<ul class="nav nav-tabs">
    <li><%= link_to 'Contest', admin_contest_path %></li>
    <li><%= link_to 'Judge', admin_judge_path %></li>
    <li class='active'><%= link_to 'Auctioneer', admin_auctioneer_path %></li>
</ul>

<h1>Show Auctioneers here</h1>
