<script>
  document.getElementById("admin-nav").className = "active";
</script>

<ul class="nav nav-tabs">
    <li class="active"><%= link_to 'Contest', '#' %></li>
    <li><%= link_to 'Judge', '#' %></li>
    <li><%= link_to 'Auctioneer', '#' %></li>
</ul>

<h1>This is admin main page</h1>
