<script>
  document.getElementById("admin-nav").className = "active";
</script>

<div class="container">
  <h2>Welcome Admin! See the Current Judges Below</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Judge Name</th>
        <th>Judge Email</th>
        <th>Judge Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark Wahlber</td>
        <td>markyboy@gmail.com</td>
        <td>iThinkImSuperCool</td>
      </tr>
      <tr>
        <td>Will Ferrell</td>
        <td>MrFerrel@yahoo.com</td>
        <td>booYah12_12</td>
      </tr>
      <tr>
        <td>Billy Mars</td>
        <td>billLovesSeafood@gmail.com</td>
        <td>shrimpSmoothies</td>
      </tr>
    </tbody>
  </table>
</div>
