<div class="container">
  <h2>List of Contestants to Judge</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Contestant Name</th>
        <th>Contestant Bracket</th>
        <th>Date Competing</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Silvers</td>
        <td>Rookie</td>
        <td>March 28, 2017</td>
      </tr>
      <tr>
        <td>Bob Evans</td>
        <td>State Champion</td>
        <td>March 29, 2017</td>
      </tr>
      <tr>
        <td>Carls S. Junior</td>
        <td>Rookie</td>
        <td>March 29, 2017</td>
      </tr>
    </tbody>
  </table>
</div>
