<script>
    document.getElementById("judge-nav").className = "active";
</script>

<div class="container">
<h2>Select a contest to view contestants</h2>
<!--<div style="right:-240px;"> <h5>(If no contest yet exists head over to the setup tab and create one!)</h5> </div>-->

<div class="row">
    <div class="col-xs-6 col-sm-3">
        <a class="btn btn-primary btn-select">
            <input type="hidden" class="btn-select-input" id="" name="" value="" />
            <span class="btn-select-value">Select an Item</span>
            <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
            <ul>
                <li class="selected">Lonestar Auction 2017</li>
                <li>Texas Auctioneers 2017</li>
                <li>Auction Extradonaire Winter Special</li>
            </ul>
        </a>
    </div>
</div>

<div class="container" id="contestantDiv">
  <h2>Contestants</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Link to scoresheet</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Avery Kelos</td>
        <td>
            <%= link_to 'Scoresheet', judge_score_path %>
            <!--<%#=  link_to 'Score', insert_path_here, :method => :score %>-->
        </td>
      </tr>
      <tr>
        <td>Popi Junte</td>
        <td>booYah12_12</td>
      </tr>
      <tr>
        <td>Kurt Vone</td>
        <td>shrimpSmoothies</td>
      </tr>
    </tbody>
  </table>
</div>
