<script>
    document.getElementById("judge-nav").className = "active";
</script>

<% @contests.each do |contest| %>
<br>
  <h2><%= contest.contest_name%> Contest </h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Division</th>
        <th>Round</th>
        <th>View Auctioneers</th>
      </tr>
    </thead>
    
    <tbody>
      <% @divisions.each do |division| %>
        <% if division.contest_id == contest.id %> 
          <tr>
            <td><%= division.division_name %></td>
            <td><%= division.round %></td>
            <td> <%= link_to 'See Auctioneers', judge_path(:id => division.id) %> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>